{% extends "admin/base_index.html" %}
{% load i18n %}

{% block model_add %}			
    {% if model.perms.start %}
        <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Start a process' %}</a></td>
    {% else %}
        <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
    {% endif %}
{% endblock %}

{% block model_change %}			
    {% if model.perms.work %}
        <td><a href="{{ model.admin_url }}?worker__id__exact={{ user.pk }}" class="changelink">{% trans 'My tasks' %}</a></td>
    {% else %}
        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
    {% endif %}
{% endblock %}
